<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color: #875a7b">
      Free high-resolution image library
    </h2>
    <h3 class="oe_slogan">
      An Unsplash search bar is added to the image library modal...
    </h3>
    <div class="oe_span12">
      <div class="oe_demo oe_picture oe_screenshot">
        <img src="unsplash_interface_bar.png" />
      </div>
    </div>
  </div>
</section>
<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h3 class="oe_slogan">
      ...to explore <a href="https://unsplash.com/">Unsplash.com</a> and find
      images to use in Kwagijima.
    </h3>
    <div class="oe_span12">
      <div class="oe_demo oe_picture oe_screenshot">
        <img src="unsplash_interface.png" />
      </div>
    </div>
  </div>
</section>
